@import '@repo/shadcn/styles.css';

/*******************************************************************************

カスタマイズ

以下を設定しておかないとダークテーマのときに <Button variant="ghost"/> の文字色が黒のままになる。どうやら bg-background と text-foreground を前提にしているらしい。

*******************************************************************************/

@layer base {
  body {
    @apply overflow-hidden bg-background text-foreground;
  }
}

:root {
  --header-height: 29px;
  --title-bar-overlay-width: 0px;
  --traffic-light-width: 0px;
  --traffic-light-height: 0px;
}

/* Windows / Linux: ウィンドウコントロール分の右パディング */
:root[data-platform='win32'],
:root[data-platform='linux'] {
  --title-bar-overlay-width: 137px;
}

/* macOS: トラフィックライト分の左パディング */
:root[data-platform='darwin'] {
  --traffic-light-width: 80px;
  --traffic-light-height: var(--header-height);
}

[data-custom-title-bar] {
  app-region: drag;
}
