/*******************************************************************************

カスタマイズ

以下を設定しておかないとダークテーマのときに <Button variant="ghost"/> の文字色が黒のままになる。どうやら bg-background と text-foreground を前提にしているらしい。

*******************************************************************************/

@reference "./styles.css";

@layer base {
  body {
    @apply overflow-hidden bg-background text-foreground;
  }
}
